// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFF;
$colorType: #464646;
$colorGrey: #989898;
$colorOne: #204E59;
$colorTwo: #FF5B34;
$colorThree: #A7B9BD;

